{{#if currentUser}}
  <h2>Bienvenido, {{currentUser.first_name}}</h2>
  <p>Tu rol: {{currentUser.role}}</p>
  <a href='/users/login'>Cerrar sesion</a>
{{else}}
  <script>window.location.href = '/users/login'</script>
{{/if}}